:root {
  --background: #F9F7F7;
  --foreground: #112D4E;
}

.dot-indicator {
  @apply w-3 h-3 rounded-full transition-colors duration-300;
  background-color: #DBE2EF;
}

.dot-indicator[data-active="true"] {
  background-color: #3F72AF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #112D4E;
    --foreground: #F9F7F7;
  }

  .dot-indicator {
    @apply w-3 h-3 rounded-full transition-colors duration-300;
    background-color: #3F72AF;
  }

  .dot-indicator[data-active="true"] {
    background-color: #F9F7F7;
  }
}
